[user]
	name = Aleš Matěj
	email = amatej@redhat.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool --staged
	s = status
    pr = "!f() { git fetch origin \"pull/$1/head:pr-$1\"; }; f"
    PR = "!f() { git fetch origin \"pull/$1/head:pr-$1\"; }; f"
