[user]
	name = Aleš Matěj
	email = amatej@redhat.com

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[alias]
	d = difftool --staged
	s = status
    pr = "!f() { git fetch origin \"pull/$1/head:pr-$1\"; git checkout \"pr-$1\"; }; f"
    PR = "!f() { git fetch origin \"pull/$1/head:pr-$1\"; git checkout \"pr-$1\"; }; f"
[pull]
	ff = only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	default = current
[merge]
	conflictstyle = diff3
