urxvt*transparent: false
!urxvt*shading: 100

URxvt.keysym.M-r: perl:keyboard-select:search

URxvt.scrollBar: false
URxvt.depth: 32
URxvt.internalBorder:  4

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

urxvt.letterSpace: 0
URxvt.font: xft:Gohu Gohufont:size=9

URxvt.keysym.M-C-1: command:\033]50;xft:Gohu GohuFont:pixelsize=11\007
URxvt.keysym.M-C-2: command:\033]50;xft:Gohu GohuFont:pixelsize=14\007
