urxvt*transparent: false
!urxvt*shading: 100


URxvt.scrollBar: false
URxvt.depth: 32
URxvt.internalBorder:  4

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

urxvt.letterSpace: 1
!URxvt.font: xft:Overpass-mono:size=9

